/* header styles */
header{
    background-color: rgba(255, 144, 14, 0.1);
}

 header nav{
    display: flex;
    justify-content: space-between;
 }

 header nav .nav-title{
    width: 302px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    padding: 50px 0 0 228px;
    color: #131313;
 }

 .nav-li ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 477px;
    height: 26px;
    padding-top: 65px;
 }

.nav-li li{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
 }

 /* banner styles */
 
 .banner .banner-title{
    text-align: center;
   font-size: 65px;
   padding: 102px 350px 0 500px;
 }

 .banner .banner-description{
    width: 868px;
    height: 52px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 500px 0 370px;
    color: #727272;
 }

header .banner img{
    width: 840px;
    height: 450px;
    padding: 50px 240px 40px 400px;
}

.btn-primary{
    width: 120px;
    height: 54px;
    font-weight: 500;
    border-radius: 10px;
    margin: 32px 800px 0 750px;
    background-color: orange;
    color: #ffffff;
    border-color: rgba(255, 144, 14, 0.1);
    
}

/* main styles */

.features{
    display: flex;
    margin: 85px 301px 0 301px;
}

.features .features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.features .features-img img{
    width: 300px;
    height: 300px;
}

.features .features-container{
    width: 537px;
    height: 304px;
    padding: 180px 0 0 73px;
}

.features .features-container .features-heading{
    font-size: 45px;
}

.features .features-container .features-description{
    font-size: 16px;
    color: #727272;
}

.features .features-container .btn{
    width: 100px;
    height: 45px;
    font-weight: 500;
    border-radius: 10px;
    background-color: orange;
    color: #ffffff;
    border-color: orange;
}

#gray{
    color: #727272;
}

#bold{
    color: #131313;
}

#orange{
    color: #FF900E;
}

.container{
    display: flex;
    padding: 130px 240px 0 240px;
}

.container .description{
    width: 586px;
    height: 982px;
    padding-right: 25px;
}

.container .description .description-heading{
    font-size: 45px;
    color: #131313;
}

.container .description .smallest-heading{
    font-size: 20px;
    color: #131313;
}

.container .description .des-info{
    font-size: 16px;
    color: #727272;
}

.container .woman-pic{
    width: 700px;
    height: 982px;
}

.largest-btn{
    margin-left: 550px;
    margin-top: -500px;
    font-size: 45px;
    width: 342px;
    height: 200px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #FF900E;
}

.facts {
    padding: 123px 0 0 240px;
}

.facts .facts-heading{
    font-size: 45px;
    color: #131313;
}

.facts .facts-des{
    font-size: 16px;
    color: #727272;
}

.achievement{
    padding: 100px 290px 0 290px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px;
}
.achievement-container:hover{
    border: 1px solid orangered;
    
}

.achievement-container img{
    padding-left: 75px;
}

.achievement-container .number{
    padding-left: 75px
}

.achievement-container .achiv-name{
    padding-left: 65px
}

.sponsors .sp-heading{
    font-size: 45px;
    padding: 180px 500px 0 600px;
    color: #131313;
}

.sponsors .sp-des{
    font-size: 16px;
    padding: 25px 350px 0 400px;
    color: #727272;
}

.sp-logo{
    padding: 50px 240px 0 240px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* footer  */
footer{
    text-align: center;
    width: 1000px;
    height: 100px;
    padding-top: 50px;
    margin: 130px 240px 216px 240px;
    border-radius: 8px;
    background-color: rgba(255, 144, 14, 0.1);
}
footer .footer-des{
    font-size: 20px;
    color: #424242;
}